body {
  background-color: aliceblue;
  width: 960px;
  border: 1px blueviolet;
  margin: auto;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal-leading-zero;
  list-style-position: inside;
    
}