body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: aliceblue;
  width: 960px;
  border: 1px blueviolet;
  margin: auto;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal-leading-zero;
  list-style-position: inside;
}

h1 {
  size: 16px;
}